<style>
  .needsclick.kl-private-reset-css-Xuajs1 {
    background-color: transparent !important;
  }
  #journey-to-joy {
    padding-top: 150px;
    position: relative;
  }
  #journey-to-joy::before {
    content: '';
    width: 451px;
    height: 640px;
    display: block;
    position: absolute;
    right: 840px;
    top: 45px;
    border: 15px solid #000000;
  }
  #journey-to-joy .sec-ftr-img {
    position: absolute;
    top: -55px;
    left: -280px;
    max-width: 529px;
    width: 46%;
  }
  #journey-to-joy .textIMG {
    max-width: 641px;
    position: absolute;
    top: -40px;
    left: 100px;
    width: 56%;
  }
  
  #journey-to-joy .content-area {
    max-width: 1154px;
    width: 80%;
    margin-left: auto;
    padding: 129px 30px 77px 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #FDF3F5;
    position: relative;
  }
  #journey-to-joy .content-cont {
    max-width: 574px;
    width: 100%;
  }
  #journey-to-joy .text-title {
    font-size: 40px;
    line-height: 48px;
    font-weight: 400;
    text-align: left;
    max-width: 470px;
    width: 100%;
    color: #000;
  }
  #journey-to-joy .text-title span {
    color: #E31D93;
    font-weight: 700;
  }
  #journey-to-joy .sec-description {
    margin: 9px auto 24px;
    font-size: 16px;
    line-height: 29px;
    font-weight: 500;
    color: #000000;
  }
/*   #journey-to-joy .klaviyo-form-TLivnr form {
    max-width: 100% !important;
    padding: 20px !important;
    background-color: #ffffff !important;
    border-radius: 5px !important;
  }
  #journey-to-joy form button {
    font-size: 0 !important;
    background-color: #E31D93 !important;
    border-radius: 5px !important;
  }
  #journey-to-joy form button::after {
    content: 'JOIN NOW';
    font-size: 16px;
    font-weight: 700;
  } */
  

  #journey-to-joy form {
    max-width: 100% !important;
    border-radius: 5px !important;
    padding: 20px !important;
    box-shadow: 5px 5px 12px 0 rgba(0,0,0,0.1) !important;
    background-color: #fff !important;
  }
  #journey-to-joy form input {
    border: none !important;
    border-bottom: 1px solid #D9D9D9 !important;
    border-radius: 0 !important;
  }
  #custom-banner form input::-webkit-input-placeholder {
    text-transform: uppercase;
  }
  #custom-banner form input:-ms-input-placeholder {
    text-transform: uppercase;
  }
  #custom-banner form input::placeholder {
    text-transform: uppercase;
  }

  #journey-to-joy form .needsclick.go139254013.kl-private-reset-css-Xuajs1 {
    background-color: #e51e93 !important;
  }
  #journey-to-joy form .needsclick.go3109424697.kl-private-reset-css-Xuajs1 {
    background-color: #e51e93 !important;
  }
  #journey-to-joy form .needsclick.go279450927.kl-private-reset-css-Xuajs1 {
    background-color: #e51e93 !important;
    color: #ffffff !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    border-radius: 5px !important;
  }
  #journey-to-joy form .needsclick.go3109184726.kl-private-reset-css-Xuajs1 {
    padding: 10px !important;
    height: 44px !important;
  }
  
  @media screen and (max-width: 1440px){
    #journey-to-joy .content-area {
      padding: 129px 30px 77px 180px;
    }
  }
  
  @media screen and (max-width:1024px){
    #journey-to-joy .content-area{
      padding: 129px 50px 77px 250px;
    }
    #journey-to-joy::before {
      width: 311px;
      height: 480px;
      right: unset;
      top: 45px;
      border: 10px solid #000000;
      left: 115px;
    }
    #journey-to-joy .textIMG {
      left: 70px;
      top: -30px;
    }
    #journey-to-joy .sec-ftr-img {
      left: -190px;
    }
  }
  
  @media screen and (max-width: 850px){
    #journey-to-joy .content-area {
      padding: 100px 50px 70px 200px;
    }
    #journey-to-joy::before {
      width: 311px;
      height: 370px;
      right: unset;
      top: 65px;
      border: 6px solid #000000;
      left: 41px;
    }
    #journey-to-joy .text-title {
      font-size: 30px;
      line-height: 45px;
      max-width: 352px;
    }
    #journey-to-joy .sec-ftr-img {
      left: -150px;
    }
  }
  
  @media screen and (max-width: 767px){
    #journey-to-joy .sec-ftr-img {
      left: 0;
      max-width: 316px;
      right: 0;
      margin: 0 auto;
      width: 100%;
    }
    #journey-to-joy::before {
      content: '';
      width: 269px;
      height: 382px;
      right: 29px;
      top: 45px;
      background-size: contain;
      border: 8px solid #000;
      left: unset;
    }
    #journey-to-joy .textIMG {
      max-width: 414px;
      width: 100%;
      top: 235px;
      left: 0;
      right: 0;
      display: block;
      margin: 0 auto;
    }
    #journey-to-joy .content-area{
      padding: 339px 30px 77px;
      width: 100%;
    }
    #journey-to-joy .text-title {
      font-size: 30px;
      line-height: 45px;
      text-align: center;
      margin: 0 auto;
    }
    #journey-to-joy .text-title span {
      display: block;
    }
    #journey-to-joy .sec-description {
      text-align: center;
    }
  }
</style>

<div id="journey-to-joy">
    <div class="container-fluid">
        <div class="content-area">
          <img src="{{ section.settings.section_ftr_img | img_url: ''}}" alt="" class="sec-ftr-img">
          <img src="{{ section.settings.section_text_image | img_url: ''}}" alt="" class="textIMG">
          <div class="content-cont">
          	<h2 class="text-title">
            {{ section.settings.section_title }}
            </h2>

            <p class="sec-description">
                {{ section.settings.section_descirption }}
            </p>

            <div class="klaviyo-form-XhKENf"></div>
          </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Journey to joy",
    "class": "journey-to-joy",
    "settings": [
        {
            "type": "image_picker",
            "id": "section_ftr_img",
            "label": "Feature Image"
        },
        {
            "type": "image_picker",
            "id": "section_text_image",
            "label": "Text Image"
        },
        {
          "type": "text",
          "id": "section_title",
          "label": "Section Title",
          "default": "Section Title"
        },
        {
            "type": "textarea",
            "id": "section_descirption",
            "label": "Section Description",
            "default": "lorem ipsum"
        }
    ],
    "presets":[
        {
        "name":"Journey to joy",
        "category":"Custom"
        }
    ]
}
{% endschema %}
