#main-checkout-content .sidebar .checkout-benefits-container{
    display:none
}
#main-checkout-content .main .checkout-benefits-container{
    margin:0 0 1rem;
}
#main-checkout-content .checkout-benefits-container{
  margin-top: 2rem;
}
#main-checkout-content .checkout-benefits{
    display:flex;
    margin-bottom:1.5rem
}
#main-checkout-content .checkout-benefits__icon{
    display:block;
    flex: 0 0 25px;
}
#main-checkout-content .checkout-benefits__icon img{
    display:block;
    width:100%;
    height:auto;
  margin-top: 5px;
}
.main__benefits.checkout-benefits-container {
  padding-top: 40px;
}
#main-checkout-content .checkout-benefits__content{
    padding-left:1rem
}
#main-checkout-content .checkout-benefits__header{
    line-height:1.5;
    font-weight:600;
    font-size:1rem;
    color:#313131;
    margin-bottom:.5rem
}
#main-checkout-content .checkout-benefits__blurb {
    line-height:1.5;
    font-weight:400;
    font-size:1rem;
    color:#313131;
}
@media (min-width: 991px) {
  #main-checkout-content .sidebar .checkout-benefits-container {
    display: block;
  }
  #main-checkout-content .main .checkout-benefits-container {
    display: none;
  }
}
@media (min-width: 1000px) {
  .order-summary__sections {
    height: auto;
  }
}